@import './vendors/normalize.css';
@import 'aboutme.scss';
@import 'alumni.scss';
@import 'navbar.scss';

*,
*:after,
*:before {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
}

.page__header {
  font-size: 45px;
  text-align: center;
  font-weight: 500;
  margin: 3%;
}

.section__header {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
}

.section__content {
  p {
    text-align: justify;
    margin: 1% 13%;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 300;

    a:link {
      color: blue;
      text-decoration: none;
    }

    a:hover {
      color: black;
    }
  }
}

@media screen and (max-width: 740px) {
  .page__header {
    font-size: 35px;
  }

  .section__header {
    font-size: 20px;
  }
}
