#schedule__pic {
  padding: 2% 12%;
  width: 100%;
  text-align: center;
}

.schedule__header {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    color: #093A86;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .schedule__header {
    font-size: 25px;
  }
}

.current__container, .fa15__container, .sp15__container {
  &.current--close, &.fa15--close, &.sp15--close  {
    .event__header, .result__content {
      max-height: 0px;
      opacity: 0;
      transition: max-height .25s ease;
    }
  }

  &.current--open, &.fa15--open, &.sp15--open {
    .event__header {
      margin-bottom: 15px;
      font-size: 17px;
      text-align: center;
    }

    .result__content {
      margin-bottom: 15px;
      font-size: 14px;
      text-align: center;
      font-weight: 400;
    }

    .event__header, .result__content {
      max-height: 1000px;
      transition: max-height .25s ease;
    }

    @media screen and (max-width: 800px) {
      .event__header {
        font-size: 14px;
      }

      .result__content {
        font-size: 13px;
      }
    }
  }
}
